@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Patua+One&family=Press+Start+2P&family=Quicksand:wght@300..700&family=Russo+One&display=swap');

*{
    padding: 0;
    margin: 0;
    font-size: 1.05em;
    z-index: 0;
}

#cabecalho{
    background-image: linear-gradient(to bottom, #00255f, #004cc7);
    height: 8vh;
    width: 100%;
    color: #FFFFFF;
}

#destaque{
    font-family: "Exo", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

#logo a{
    text-decoration: none;
    color: #FFFFFF;
    line-height: 2em;
}

#btn_open_menu{
    cursor: pointer;
    line-height: 3em;
}

#btn_close_menu{
    cursor: pointer;
    line-height: 3em;
}

#opcoes{
    display: none;
    background-image: linear-gradient(to bottom, #00255f, #004cc7);
    width: 100%;
    height: 100vh;
    color: #FFFFFF;
}

#itens li{
    list-style-type: none;
    padding-top: 8vh;
}

#itens a{
    color: #FFFFFF;
    text-decoration: none;
}

#conteudo{
    padding-top: 8vh;
    height: 84vh;
    background-color: #eeeeee67;
}

#apresentacao{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    margin-top: 25vh;
}

#info{    
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 3em;
}

#rodape{
    color: #FFFFFF;
    height: 8vh;
    background-image: linear-gradient(to top, #00255f, #004cc7);
    font-size: 0.8em;
}

@media (width <= 993px){
    #apresentacao{
        margin-top: 25vh;
        font-size: 1.6em;
    }
    #info{
        font-size: 1.5em;
    }
}

@media (width > 993px){
    #apresentacao{
        margin-top: 10vh;
        font-size: 5em;
    }
}
